<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteLatihanTestNG" verbose="1">
    <test name="TestDasar">
        <classes>
            <class name="id.co.juaracoding.testng.KalkulatorTest"/>
            <class name="id.co.juaracoding.testng.PrioritasTest"/>
            <class name="id.co.juaracoding.testng.DataProviderTest"/>
            <class name="id.co.juaracoding.testng.SiklusHidupTest"/>
        </classes>
    </test>
    <test name="TestSelenium">
        <classes>
            <class name="id.co.juaracoding.selenium.LoginApiTest"/>
            <class name="id.co.juaracoding.selenium.RegisterApiTest"/>            
        </classes>
    </test>

    <test name="TestRestAssured">
        <classes>
            <class name="id.co.juaracoding.restassured.LoginApiTest"/>
            <class name="id.co.juaracoding.restassured.ForgotPasswordApiTest"/>
            <class name="id.co.juaracoding.restassured.RegisterApiTest"/>
            <class name="id.co.juaracoding.restassured.DataMasterApiTest"/>
        </classes>
    </test>

    <test name="TestCucumberWeb">
        <classes>
            <class name="id.co.juaracoding.cucumber.web.CucumberWebRunner"/>
        </classes>
    </test>
    
    <test name="TestCucumberApi">
        <classes>
            <class name="id.co.juaracoding.cucumber.api.CucumberApiRunner"/>
        </classes>
    </test>


</suite>